version: '3.9'
services:
  ho-cyrhades-bot:
    build:
      context: ./.docker/bot/
    restart: always
    command: npm start
    labels:
      ho.ctf.cyrhades: "1"
    healthcheck:
      test: [ "CMD", "wscat", "-c", "ws://localhost:8282" ]
      interval: 5s
      timeout: 3s
      retries: 10
  ho-webserver:
    build:
      context: ./.docker/server_http/
    environment:
      - HOOS_CTF_USERNAME=${HOOS_CTF_USERNAME:-}
    labels:
      ho.ctf.cyrhades: "1"
    ports:
      - ${PORT}:80
